<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="file.txt" />
    <target name="logconsole" xsi:type="Console" />
    <target xsi:type="File" name="GlobalLog" archiveAboveSize="10000000" maxArchiveFiles="3" fileName="${basedir}/logs/info/${shortdate}global_info.txt" layout="${longdate} | Trace: ${stacktrace} | ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logconsole" />
    <logger name="*" minlevel="Debug" writeTo="logfile" />
    <logger name="GlobalLogger" level="Info" writeTo="GlobalLog" />
  </rules>
</nlog>